<div class="about-container">
    <%= image_tag 'port-myself.jpeg', class: 'profile-img' %>
    <div class="about-text">
        <p>About</p>
        <p>Webエンジニア</p>
        <p>こんにちは。ポートフォリオを閲覧してくださってありがとうございます。お客様とコミュニケーションを大切にし、納得のいくデザイン、webサイトをお届けいたします。<br>
            
            <span>「また、一緒にお仕事をしたい」</span> <br>
            
            そう思っていただけるwebエンジニアを目指しています。
        </p>
        <button>Contact Me</button>
    </div>
</div>
<div class="service">
    <p>Service</p>    
    <div class="box-container">
        <div class="box-1">
            <p>コーディング</p>
            <%= image_tag 'icon-programing.png' %>
            <p>googleのスタイルガイドに則ったseo対策をしたコーディング、さらにはスマホのレスポンシブ化もお任せください。</p>
        </div>
        <div class="box-2">
            <p>バナー・名刺</p>
            <%= image_tag 'icon-identification.png' %>
            <p>会社や個人の名刺から、サイトやSNSに掲載するバナーまでAiやPsでお作りいたします。お気軽にご相談ください。</p>
        </div>
        <div class="box-3">
            <p>Wordpress制作</p>
            <%= image_tag 'icon-wordpress.png' %>
            <p>wordpressを使用した素早いサイト制作、さらにお客様にあった最適なテーマをご提案させていただきます。</p>
        </div>
    </div>
</div>