.work {
    height: 570px;
    background-color: #f6f5f5;
    text-align: center;
    padding: 5% 20% 0px 20%;
}

.box-4,.box-5 {
    width: 300px;
    height: 320px;
    padding: 0px 1%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-4 img {
    width: 300px;
    height: 320px;
}
.box-5 img {
    width: 300px;
}

.work-box4,.work-box5 {
    width: 300px;
    height: 400px;

    p {
        text-align: left;
        padding: 1% 0px 1% 2%;
    }
}