<div class="about-container">
    <%= image_tag 'port-myself.jpeg', class: 'profile-img' %>
    <div class="about-text">
        <p>About</p>
        <p>Webエンジニア</p>
        <p>こんにちは。ポートフォリオを閲覧してくださってありがとうございます。お客様とコミュニケーションを大切にし、納得のいくデザイン、webサイトをお届けいたします。<br>
            
            <span>「また、一緒にお仕事をしたい」</span> <br>
            
            そう思っていただけるwebエンジニアを目指しています。
        </p>
        <button>Contact Me</button>
    </div>
</div>